<!-- If you apply auto margins to a flex item,
    that item will automatically extend its specified margin to occupy the extra space in the flex container,
    depending on the direction in which the auto-margin is applied. -->
<footer class="bg-dark py-1 mt-auto">
  <div class="container" >
    <span class="text-secondary">&copy; Yelp-Camp 2023</span>
  </div>
</footer>
    
