<% layout('layouts/boilerplate') %>

<!-- rending this page in error handler -->
<div class="row">
  <div class="col-md-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <!-- we don;t want the user to see the error stack in production mode  (its for development purpose) -->
      <% if(process.env.NODE_ENV!=="production"){ %> 
      <p><%= err.stack %></p>
      <% } %>
    </div>
  </div>
</div>
